:root {
  --crema: #fafbe4;
  --celeste: #5c84b3;
  --azul: #183055;
  --oscuro-azul: #0b1726;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  display: flex;
  align-items: center;
  padding: 15px;
}

header * {
  background-color: var(--celeste);
  font-size: 16px;
  margin: 0;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 120px;
}

.logo img {
  max-height: 120px;
  width: 130px;
}

.links {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 10px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: 100px;
}

.links a {
  color: var(--crema);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  font-family: "Libre Baskerville", serif;
  font-size: 16px;
}

.links:hover {
  color: var(--crema);
}

@media only screen and (max-width: 768px) {
  header {
    background-color: var(--celeste);
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    max-height: 90px;
    width: 120px;
  }

  nav {
    display: flex;
    align-items: center;
    padding: 1px 1px;
    font-size: 17px;
  }

  main {
    background-color: var(--crema);
  }

  .linkss {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
  }

  .linkss a {
    color: var(--crema);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }

  .links:hover {
    color: var();
  }
}

@media only screen and (max-width: 450px) {
  header {
    background-color: var(--celeste);
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo img {
    max-height: 100px;
    width: 130px;
  }

  nav {
    display: block;
    align-items: center;
    padding: 1px 1px;
    font-size: 17px;
    text-align: center;
  }
  .linkss {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
  }

  .linkss a {
    color: var(--crema);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }

  .links:hover {
    color: var(--crema);
  }
}
