* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --crema: #fafbe4;
  --celeste: #5c84b3;
  --azul: #183055;
  --oscuro-azul: #0b1726;
}

.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Shrikhand", serif;
  font-size: 40px;
}

h2 {
  font-family: "Shrikhand", serif;
  font-size: 36px;
}

p {
  font-family: "Libre Baskerville", serif;
  font-size: 20px;
}

main {
  background-color: var(--crema);
}

.info img {
  border-radius: 20px;
  width: 500px;
  margin-left: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.texto {
  margin-left: 150px;
  margin-right: 154px;
  display: flex;
  text-align: justify;
  align-items: center;
}

.info {
  display: flex;
  margin-top: 38px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.start {
  font-size: larger;
  justify-items: center;
  text-align: center;
  padding-top: 38px;
}

.principal {
  color: var(--crema);
  background-color: var(--azul);
  width: 100%;
  padding: 30px;
  height: 150px;
  text-align: center;
}

button {
  display: flex;
  background-color: var(--oscuro-azul);
  color: var(--crema);
  border: 0;
  padding: 12px;
}

.boton {
  border-radius: 10px;
  margin-top: 12px;
}

.content {
  display: flex;
  text-align: center;
  color: var(--azul);
}

.medio {
  justify-items: center;
  margin-top: 38px;
  margin-bottom: 0;
}

.medio p {
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  text-align: center;
  margin-bottom: 0;
}

.target {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Libre Baskerville", serif;
  font-size: 20px;
}

.target div {
  background-color: var(--celeste);
  border-radius: 10px;
  padding: 15px;
  margin: 38px 20px;
}

@media only screen and (max-width: 768px) {
  main {
    background-color: var(--crema);
  }

  .start {
    font-size: 20px;
    justify-items: center;
  }

  .start p {
    font-size: small;
    text-align: center;
  }

  img {
    border-radius: 25px;
    width: 400px;
  }

  button {
    display: flex;
    background-color: var(--oscuro-azul);
    color: var(--oscuro-azul);
    border: 0;
    padding: 10px;
  }

  button:hover {
    background-color: var(--celeste);
    color: #000000;
  }

  .boton {
    border-radius: 10px;
    margin-top: 12px;
    font-size: small;
  }

  .medio {
    justify-items: center;
    margin-top: 12px;
  }

  .medio p {
    margin-left: 70px;
    margin-right: 70px;
  }

  .target {
    display: block;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    margin-left: 40px;
  }

  .target div {
    background-color: var(--celeste);
    border-radius: 10px;
    padding: 15px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .content {
    display: flex;
    text-align: center;
    color: #112c4f;
  }

  footer {
    background-color: #000000;
    color: rgb(248, 248, 248);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media only screen and (max-width: 450px) {
  main {
    background-color: var(--crema);
  }

  .start {
    justify-items: center;
  }

  .start h1 {
    font-size: 23px;
  }

  .start p {
    font-size: small;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  img {
    border-radius: 25px;
    width: 300px;
  }

  button {
    display: flex;
    background-color: #112c4f;
    color: var(--cremas);
    border: 0;
    padding: 5px;
  }

  button:hover {
    background-color: var(--celeste);
    color: #000000;
  }

  .boton {
    border-radius: 10px;
    margin-top: 12px;
  }

  .medio {
    justify-items: center;
    margin-top: 17px;
  }

  .medio p {
    margin-left: 40px;
    margin-right: 40px;
  }

  .target {
    display: block;
    justify-content: center;
    align-items: center;
  }

  .target div {
    background-color: var(--celeste);
    border-radius: 10px;
    padding: 15px;
    margin-top: 40px;
  }

  .content {
    display: flex;
    text-align: center;
    color: var(--oscuro-azul);
  }

  footer {
    background-color: #000000;
    color: rgb(248, 248, 248);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
