:root {
  --crema: #fafbe4;
  --celeste: #5c84b3;
  --azul: #183055;
  --oscuro-azul: #0b1726;
}

.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  text-align: center;
}

h2 {
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-size: 23px;
}

h1 {
  text-align: center;
  font-family: "Shrikhand", serif;
  font-size: 40px;
}

body {
  background-color: var(--crema);
}

main {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px;
}

.principal {
  color: var(--crema);
  background-color: var(--azul);
  width: 100%;
  padding: 30px;
  height: 150px;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  gap: 50px;
  text-align: justify;
  justify-content: space-between;
}

.custom-content {
  border: 5px solid var(--oscuro-azul);
  padding: 30px;
  justify-content: center;
  border-radius: 20px;
}

.custom-content:hover {
  box-shadow: 20px 20px 50px grey;
}

.fila {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.fila div {
  background-color: var(--celeste);
  width: 500px;
  padding: 10px;
  height: 170px;
  text-align: center;
  border-radius: 20px;
}

.columnas {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  justify-content: center;
}

.columnas div {
  background-color: var(--celeste);
  justify-content: center;
  width: 500px;
  padding: 10px;
  height: 150px;
  text-align: center;
  border-radius: 20px;
}

.todos {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.grande {
  justify-content: center;
  height: 150px;
  text-align: justify;
  width: 500px;
}

.chiquitos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 700px;
  padding: 20px;
  justify-content: center;
}

.chiquitos div {
  border: 5px solid var(--oscuro-azul);
  border-radius: 20px;
  text-align: center;
  width: 250px;
  height: 180px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logo img {
  border: none;
}

img {
  width: 200px;
  display: block;
  margin: 0 auto;
  border: 7px solid var(--azul);
}

.row div {
  text-align: justify;
}

footer {
  background-color: #000000;
  color: rgb(248, 248, 248);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }

  main {
    margin-left: 50px;
    margin-right: 50px;
  }

  .fila div {
    height: 200px;
  }

  .columnas div {
    height: 130px;
  }

  .todos {
    flex-direction: column;
  }

  .grande {
    height: 100px;
  }

  img {
    width: 150px;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 13px;
  }

  main {
    margin-left: 20px;
    margin-right: 20px;
  }

  .flex-container {
    flex-direction: column;
  }

  .puro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 auto;
  }

  .fila {
    flex-direction: column;
  }

  .fila div {
    width: 300px;
  }

  .columnas div {
    width: 300px;
    height: 200px;
  }

  .grande {
    width: 350px;
    height: 150px;
  }

  .chiquitos {
    width: 350px;
  }

  img {
    max-width: 90%;
  }
}
