:root {
  --crema: #fafbe4;
  --celeste: #5c84b3;
  --azul: #183055;
  --oscuro-azul: #0b1726;
}

.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Shrikhand", serif;
}

h2 {
  font-family: "Shrikhand", serif;
}

body {
  background-color: var(--crema);
  color: black;
}

#texto {
  color: var(--crema);
  background-color: var(--azul);
  width: 100%;
  padding: 30px;
  height: 150px;
  text-align: center;
  margin: 0;
  border-radius: 0;
  box-sizing: border-box;
  display: block; /* No uses flex aquí */
}

.relleno {
  max-width: 1100px;
  margin: 50px auto;
  padding: 20px;
  text-align: justify;
  line-height: 1.6;
}
.container {
  display: grid;
  grid-template-columns: 200px auto;
  background-color: var(--celeste);
  text-align: left;
  color: var(--crema);
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}
.contenedor {
  display: grid;
  grid-template-columns: 200px auto;
  background-color: var(--celeste);
  text-align: left;
  color: var(--crema);
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}
.tercero {
  display: grid;
  grid-template-columns: 200px auto;
  background-color: var(--celeste);
  text-align: left;
  color: var(--crema);
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}
.cuarto {
  display: grid;
  grid-template-columns: 200px auto;
  background-color: var(--celeste);
  text-align: left;
  color: var(--crema);
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}
.botón {
  background-color: var(--celeste);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-radius: 10px;
  border: var(--celeste);
  width: 150px;
  height: 50px;
  margin: 10px;
  display: inline-block;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.certificado {
  background-color: var(--celeste);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-radius: 10px;
  border: var(--celeste);
  width: 150px;
  height: 50px;
  margin: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.seguir {
  background-color: var(--celeste);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.instagram {
  background-color: #e1306c;
  color: var(--crema);
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 10px;
}

.instagram:hover {
  background-color: #c13584;
}

.facebook {
  background-color: #303686;
  color: var(--crema);
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 10px;
}
.facebook:hover {
  background-color: #40447e;
}

.youtube {
  background-color: #9c1212;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 10px;
}

.youtube:hover {
  background-color: #c13535;
}

.subtitulo {
  color: var(--azul);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.subtexto {
  color: var(--crema);
  text-align: center;
  margin-top: 10px;
  font-weight: normal;
}

@media (max-width: 768px) {
  #texto {
    font-size: 40px;
    width: 100%;
    padding: 30px;
  }
  .container,
  .contenedor,
  .tercero,
  .cuarto {
    grid-template-columns: 1fr;
    width: 90%;
  }
  nav {
    flex-direction: column;
    font-size: medium;
  }
  .logo img {
    max-width: 80px;
    height: auto;
  }

  .barra {
    padding: 9px;
    text-align: center;
  }
  nav {
    flex-direction: column;
    gap: 10px;
  }

  nav img {
    max-width: 80px;
    height: auto;
  }
  .link {
    font-size: 16px;
    display: block;
  }
}

@media (max-width: 430px) {
  .barra {
    padding: 5px;
    text-align: center;
  }
  nav {
    flex-direction: column;
    font-size: 14px;
    gap: 8px;
  }
  .logo img {
    max-width: 60px;
    height: auto;
  }
  .link {
    display: block;
    font-size: 14px;
    padding: 5px;
  }
  #texto {
    font-size: 23px;
    width: 100%;
    padding: 10px;
  }
  .relleno {
    font-size: 14px;
    padding: 10px;
  }
  .container,
  .contenedor,
  .tercero,
  .cuarto {
    grid-template-columns: 1fr;
    width: 95%;
    padding: 10px;
  }
  .instagram,
  .facebook,
  .youtube {
    display: block;
    margin: 8px auto;
  }
}
